@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --colorPrimary1: rgba(255, 58, 58, 1);
  --colorPrimary2: rgba(255, 58, 58, 0.9);
  --colorPrimary3: rgba(255, 58, 58, 0.8);
  --colorPrimary4: rgba(255, 58, 58, 0.6);
  --colorPrimary5: rgba(255, 58, 58, 0.4);
  --colorPrimary6: rgba(255, 58, 58, 0.3);
  --colorPrimary7: rgba(255, 58, 58, 0.1);
  --colorPrimary8: rgba(255, 58, 58, 0.08);
  --colorSecondary1_1: rgba(255, 17, 104, 1);
  --colorSecondary1_2: rgba(252, 61, 73, 1);
  --colorSecondary2_1: rgba(255, 58, 58, 1);
  --colorSecondary2_2: rgba(89, 117, 178, 1);
  --colorSecondary2_3: rgba(54, 178, 133, 1);
  --colorSecondary2_4: rgba(54, 93, 178, 1);
  --colorSecondary3_1: rgba(252, 110, 163, 1);
  --colorSecondary3_2: rgba(255, 235, 242, 1);
  --colorSecondary3_3: rgba(50, 169, 252, 1);
  --colorSecondary3_4: rgba(230, 242, 250, 1);
  --colorSecondary4: rgba(211, 160, 59, 1);
  --colorBlack1: rgba(40, 50, 72, 1);
  --colorBlack10: rgba(40, 50, 72, 0.1);
  --colorBlack11: rgba(40, 50, 72, 0.06);
  --colorBlack12: rgba(40, 50, 72, 0.03);
  --colorBlack2: rgba(40, 50, 72, 0.9);
  --colorBlack3: rgba(40, 50, 72, 0.8);
  --colorBlack4: rgba(40, 50, 72, 0.7);
  --colorBlack5: rgba(40, 50, 72, 0.6);
  --colorBlack6: rgba(40, 50, 72, 0.5);
  --colorBlack7: rgba(40, 50, 72, 0.4);
  --colorBlack8: rgba(40, 50, 72, 0.3);
  --colorBlack9: rgba(40, 50, 72, 0.25);
  --colorWhite1: rgba(255, 255, 255, 1);
  --colorWhite10: rgba(255, 255, 255, 0.1);
  --colorWhite11: rgba(255, 255, 255, 0.06);
  --colorWhite12: rgba(255, 255, 255, 0.03);
  --colorWhite2: rgba(255, 255, 255, 0.9);
  --colorWhite3: rgba(255, 255, 255, 0.8);
  --colorWhite4: rgba(255, 255, 255, 0.7);
  --colorWhite5: rgba(255, 255, 255, 0.6);
  --colorWhite6: rgba(255, 255, 255, 0.5);
  --colorWhite7: rgba(255, 255, 255, 0.4);
  --colorWhite8: rgba(255, 255, 255, 0.3);
  --colorWhite9: rgba(255, 255, 255, 0.25);
  --colorSidebar1: rgba(40, 50, 72, 1);
  --colorSidebar10: rgba(252, 61, 73, 1);
  --colorSidebar11: rgba(255, 17, 104, 1);
  --colorSidebar12: rgba(252, 61, 73, 1);
  --colorSidebar13: rgba(255, 255, 255, 1);
  --colorSidebar2: rgba(40, 50, 72, 0.7);
  --colorSidebar3: rgba(40, 50, 72, 0.6);
  --colorSidebar4: rgba(40, 50, 72, 0.4);
  --colorSidebar5: rgba(40, 50, 72, 0.1);
  --colorSidebar6: rgba(40, 50, 72, 0.06);
  --colorSidebar7: rgba(40, 50, 72, 0.03);
  --colorSidebar8: rgba(255, 255, 255, 1);
  --colorSidebar9: rgba(255, 17, 104, 1);
  --colorBackground: rgba(247, 249, 252, 1);
  --colorBackgroundWhite: rgba(255, 255, 255, 1);
  --colorFunction1: rgba(40, 50, 72, 0.5);
  --colorFunction2: rgba(255, 255, 255, 1);
  --colorFunction3: rgba(255, 255, 255, 0.8);
  --colorFunction4: rgba(255, 255, 255, 1);
  --colorFunction5: rgba(40, 50, 72, 0.06);
  --colorFunction6: rgba(255, 255, 255, 0.8);
  --colorFunction7: rgba(40, 50, 72, 0.8);
  --colorFunction8: rgba(40, 50, 72, 1);
  --colorFunction9: rgba(40, 50, 72, 0.06);
  --colorFunction10: rgba(40, 50, 72, 0.1);
  --colorFunction11: rgba(255, 17, 104, 1);
  --colorFunction12: rgba(252, 61, 73, 1);
  --colorFunction13: rgba(50, 119, 255, 1);
  --colorFunction14: rgba(119, 88, 255, 1);
  --colorFunction15: rgba(255, 255, 255, 1);
  --colorFunction16: rgba(45, 45, 56, 1);
  --colorMask1: rgba(0, 0, 0, 0.7);
  --colorMask2: rgba(0, 0, 0, 0.3);
  --colorMask3: rgba(0, 0, 0, 0.25);
  --colorMask5: rgba(0, 0, 0, 0);
  --colorMask4: rgba(0, 0, 0, 0.1);
}

body {
  font-family: arial, 微软雅黑, "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, simsun, "Mongolian Baiti";
  font-size: 12px;
  line-height: 1.4;
  color: var(--colorBlack3);
  background: var(--colorBackground);
}
